.couponTable {
  border-collapse: collapse; 
  margin-top: 1rem;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.couponTable thead {
  background-color: #025a06;
}

.couponTable thead th {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.couponTable tbody tr {
  border-bottom: 1px solid #ddd;
}

.couponTable tbody td {
  padding: 8px 10px;
}

.couponTable tbody tr:hover {
  background-color: #006525;
}

form{
  display:flex;
  flex-direction: column;
  gap: 7px;
}

form input, button{
  height: 3vh;
  cursor: pointer;
}
